
<% if @magic_link.for_sign_in? %>
  <h1 class="title"><%= t("mailers.magic_link.sign_in.title") %></h1>
  <p class="subtitle"><%= t("mailers.magic_link.sign_in.subtitle") %></p>
<% else %>
  <h1 class="title"><%= t("mailers.magic_link.sign_up.title") %></h1>
  <p class="subtitle"><%= t("mailers.magic_link.sign_up.subtitle") %></p>
<% end %>

<strong class="txt-large"><%= @magic_link.code %></strong>

<p><%= t("mailers.magic_link.code_expires", time: distance_of_time_in_words(MagicLink::EXPIRATION_TIME)) %></p>

<p class="footer"><%= t("mailers.magic_link.need_help") %> <%= mail_to "support@fizzy.do", t("mailers.magic_link.send_email") %>.
</p>

