<h1 class="title"><%= t("mailers.export.title") %></h1>
<p class="subtitle"><%= t("mailers.export.subtitle") %></p>

<p><%= link_to t("mailers.export.download_link"), account_export_url(@export) %></p>

<p class="footer"><%= t("mailers.export.need_help") %> <%= mail_to "support@fizzy.do", t("mailers.export.send_email") %>.</p>
