<% unless (platform.chrome? && !platform.ios?) || (platform.firefox? && !platform.android?) %>
  <div class="notifications-help pwa__instructions hide-in-pwa">
    <h2><%= platform.safari? && platform.desktop? ? t("notifications.settings.install.install_or") : t("notifications.settings.install.install_as_web_app") -%></h2>
    <% case
      when platform.edge? %>
        <ol>
          <li><%= t("notifications.settings.install.click_install_edge").html_safe %></li>
          <li><%= t("notifications.settings.install.click_install_button").html_safe %></li>
        </ol>
      <% when platform.chrome? && platform.android? %>
        <ol>
          <li><%= t("notifications.settings.install.tap_menu").html_safe %></li>
          <li><%= t("notifications.settings.install.tap_install_app").html_safe %></li>
        </ol>
      <% when platform.firefox? && platform.android? %>
        <ol>
          <li><%= t("notifications.settings.install.tap_menu").html_safe %></li>
          <li><%= t("notifications.settings.install.tap_install").html_safe %></li>
        </ol>
      <% when platform.safari? && platform.desktop? %>
        <ol>
          <li><%= t("notifications.settings.install.click_file").html_safe %></li>
          <li><%= t("notifications.settings.install.click_add_to_dock").html_safe %></li>
        </ol>
      <% when (platform.safari? || platform.chrome?) && platform.ios? %>
        <p><%= t("notifications.settings.install.ios_push_requirement", os: platform.operating_system, browser: platform.browser.capitalize) %></p>
        <ol>
          <li><%= t("notifications.settings.install.tap_share").html_safe %></li>
          <li><%= t("notifications.settings.install.tap_add_to_home").html_safe %></li>
        </ol>
      <% else %>
        <p><%= t("notifications.settings.install.platform_requirement") %></p>
    <% end %>
  </div>
<% end %>
