<div class="notifications-help hide-in-browser" data-notifications-target="details">
  <h2><%= t("notifications.settings.system.check_settings", os: platform.operating_system) %></h2>
  <% case
    when platform.firefox? && platform.android? %>
      <ol>
        <li><%= t("notifications.settings.install.tap_menu").html_safe %></li>
        <li><%= t("notifications.settings.system.tap_settings").html_safe %></li>
        <li><%= t("notifications.settings.system.tap_notifications").html_safe %></li>
        <li><%= t("notifications.settings.system.allow_notifications", browser: platform.browser.capitalize).html_safe %></li>
      </ol>
    <% when platform.edge? && platform.desktop? %>
      <ol>
        <li><%= t("notifications.settings.system.click_start_settings").html_safe %></li>
        <li><%= t("notifications.settings.system.go_to_system_notification").html_safe %></li>
        <li><%= t("notifications.settings.system.toggle_on_fizzy").html_safe %></li>
      </ol>
    <% when (platform.firefox? || platform.chrome?) && platform.desktop? %>
      <ol>
        <% if platform.windows? %>
          <li><%= t("notifications.settings.system.click_start_settings").html_safe %></li>
          <li><%= t("notifications.settings.system.go_to_system_notification").html_safe %></li>
          <li><%= t("notifications.settings.system.toggle_on_fizzy").html_safe %></li>
        <% else %>
          <li><%= t("notifications.settings.system.click_apple_menu").html_safe %></li>
          <li><%= t("notifications.settings.system.click_system_settings").html_safe %></li>
          <li><%= t("notifications.settings.system.click_notifications").html_safe %></li>
          <li><%= t("notifications.settings.system.click_fizzy").html_safe %></li>
          <li><%= t("notifications.settings.system.toggle_allow_notifications").html_safe %></li>
        <% end %>
      </ol>
    <% when platform.safari? && platform.desktop? %>
      <ol>
        <li><%= t("notifications.settings.system.click_apple_menu").html_safe %></li>
        <li><%= t("notifications.settings.system.click_system_settings").html_safe %></li>
        <li><%= t("notifications.settings.system.click_notifications").html_safe %></li>
        <li><%= t("notifications.settings.system.click_fizzy").html_safe %></li>
        <li><%= t("notifications.settings.system.toggle_allow_notifications").html_safe %></li>
      </ol>
    <% when (platform.safari? || platform.chrome?) && platform.ios? %>
      <ol>
        <li><%= t("notifications.settings.system.open_settings_app").html_safe %></li>
        <li><%= t("notifications.settings.system.scroll_tap_fizzy").html_safe %></li>
        <li><%= t("notifications.settings.system.tap_notifications").html_safe %></li>
        <li><%= t("notifications.settings.system.toggle_allow_notifications").html_safe %></li>
      </ol>
    <% when platform.chrome? && platform.android? %>
      <ol>
        <li><%= t("notifications.settings.system.open_settings_app").html_safe %></li>
        <li><%= t("notifications.settings.system.tap_notifications").html_safe %></li>
        <li><%= t("notifications.settings.system.tap_app_notifications").html_safe %></li>
        <li><%= t("notifications.settings.system.scroll_to_fizzy").html_safe %></li>
        <li><%= t("notifications.settings.system.toggle_allow_notifications").html_safe %></li>
      </ol>
    <% else %>
      <p><%= t("notifications.settings.system.ensure_browser_enabled", browser: platform.browser.capitalize) %></p>
  <% end %>
</div>
