<p class="subtitle"><%= t("mailers.email_change.subtitle") %></p>

<%= link_to t("mailers.email_change.confirm_button"), user_email_address_confirmation_url(script_name: @user.account.slug, user_id: @user.id, email_address_token: @token), class: "btn" %>

<p class="margin-block-start-double"><%= t("mailers.email_change.ignore_notice") %></p>

<p class="footer"><%= t("mailers.email_change.need_help") %> <%= mail_to "support@fizzy.do", t("mailers.email_change.send_email") %>.
</p>
