<p><%= t("mailers.account_cancellation.cancelled", account_name: @account.name).html_safe %></p>

<h2><%= t("mailers.account_cancellation.what_happens_heading") %></h2>

<ul>
  <li><%= t("mailers.account_cancellation.no_access") %></li>
  <% if @account.try(:subscription) %>
  <li><%= t("mailers.account_cancellation.no_charges") %></li>
  <% end %>
  <li><%= t("mailers.account_cancellation.deletion_in", time: distance_of_time_in_words_to_now(Account::Incineratable::INCINERATION_GRACE_PERIOD.from_now)) %></li>
</ul>

<i><%= t("mailers.account_cancellation.changed_mind") %></i>
<p><%= t("mailers.account_cancellation.restore_instructions").html_safe %></p>
