<% @page_title = t("users.email_addresses.create.title") %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to t("users.email_addresses.create.back_to_profile"), edit_user_path(@user, script_name: @user.account.slug), "keydown.left@document->hotkey#click keydown.esc@document->hotkey#click" %>
  </div>
<% end %>

<div class="panel panel--centered flex flex-column gap-half" style="--panel-size: 50ch;">
  <h1 class="txt-x-large font-weight-black margin-none"><%= t("users.email_addresses.create.heading") %></h1>
  <p class="margin-none"><%= t("users.email_addresses.create.description", email: params[:email_address]).html_safe %></p>
  <p class="margin-none-block-start margin-block-end-half"><%= t("users.email_addresses.create.instruction") %></p>

  <%= link_to t("users.email_addresses.create.done"), edit_user_path(@user, script_name: @user.account.slug), class: "btn btn--link center" %>
</div>
