<tr>
  <td>
    <h1 class="title"><%= t("mailers.notification_bundle.title", time: @bundle.starts_at.strftime("%-l%P on %A, %B %-d")) %></h1>
    <p class="subtitle margin-block-end-double">
      <%= t("mailers.notification_bundle.subtitle.other",
            link: link_to(t("mailers.notification_bundle.new_notification.other", count: @notifications.count), notifications_url),
            account_name: @user.identity.accounts.many? ? " in #{ Current.account.name }" : "").html_safe %>
    </p>

    <% @notifications.group_by(&:card).each do |card, notifications| %>
      <h2 class="notification__board"><%= card.board.name %></h2>
      <%= link_to "##{ card.number } #{ card.title }", card, class: "card__title" %>
      <%= render partial: "notification/bundle_mailer/notification", collection: notifications, as: :notification %>
    <% end %>

    <p class="footer"><%= t("mailers.notification_bundle.footer_intro") %> <br>
      <%= link_to t("mailers.notification_bundle.change_frequency"), notifications_settings_url %>
      or <%= link_to t("mailers.notification_bundle.unsubscribe"), new_notifications_unsubscribe_url(access_token: @unsubscribe_token) %>.
    </p>
  </td>
</tr>
